
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
#RegisterButton,#LoginButton, #RegisterButton2 {
  -fx-background-color: #1565c0;
   -fx-font-family: 'Redressed', cursive;
  -fx-border-radius: 10px;
  -fx-padding:7px 25px;


}
Label
{
  -fx-font-size: 24px;
  -fx-font-family: 'Redressed', cursive;
}
Button{
  -fx-font-size: 18px;
  -fx-font-family: 'Redressed', cursive;
}
#RegisterButton:hover, #LoginButton:hover, #RegisterButton2:hover{
  -fx-background-color:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);

        }



#VsCompButton, #InviteButton
{

  -fx-background-color:#F00D4B;


}